/*
Colors used
Text-color (dark gray): #21222D
background-color (light gray): #B0B0B2
*/
:root {
  --primary-color: #357b70;
  --primary-color-darker: #16342f;
  --primary-color-lighter: #5db9ab;
  --secondary-color: #e0b354;
  --third-color: #2b2b2b;
  --fourth-color: #21222D;
  --fith-color: #05676e;
  --sixth-color: #489c79;
  --seventh-color: #D3D3D3;
  --eigth-color: #ffffff;
  --ninth-color: #edc655;
  --tenth-color: #f76414;
  --primary-font-weight: 700;
  --normal-padding: 10px;
}

html, body {
  height: 100%;
  margin: 0;
  
}

a {
  color: var(--primary-color);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: var(--fourth-color);
  width: auto;

}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: var(--primary-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--primary-font-weight);
}

a:visited, a:focus {
  /* visited link */
  color: var(--fith-color);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active, a:focus {
  /*slected link*/
  color: var(--sixth-color);
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: 120px;
}

.contact-wrapper {
  min-height: 100%;
  margin-bottom: 10px;
  padding-left: 30px;
}

.contact-wrapper::after {
  content: "";
  display: block;
}

.page-footer, .contact-wrapper::after {
  height: 120px;
}

.profile::after {
  content: "";
  display: block;
}

.page-footer, .profile::after {
  height: 120px;
}

.profile__portrait {
  float: left;
  margin-right: 40px;
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-top: 2px solid lightgray;
}

.page-footer__item {
  width: 30%;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: var(--normal-padding);
  border-bottom: 2px solid lightgray;
}

.page-header__item {
  min-width: 0;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  font-weight: 400;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Grid fallback */
.grid__item {
  display: inline-block;
  width: auto;
  padding: var(--normal-padding);
  border: 2px solid var(--seventh-color);
}

/* Styling CSS grid */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 20px 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  grid-gap: 20px;
  height: auto;
}

.grid__item:hover .image {
  display: none;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.grid__item:hover .overlay {
  opacity: 0.9;
}

.grid__item:hover::after .overlay {
  opacity: 0.9;
}

.overlay {
  border-radius: 10px;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  width: 600px;
  opacity: 0;
  text-align: center;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #b4b0b0;
}

#angular {
  height: 100px;
  width: 100px;
}

#vue {
  height: 100px;
  width: 100px;
}

#react {
  height: 70px;
  width: 200px;
  margin-right: 50px;
}

.techList {
  list-style: none;
  margin-right: 40px;
}

.code {
  margin: 100px;
}

.website {
  margin: 100px;
}

.image {
  position: absolute;
  width: 600px;
  height: 500px;
}

.workitm {
  text-align: center;
  
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text-decoration of the button */
  background-color: var(--primary-color);
  color: var(--eigth-color);
  text-decoration: none;
  /* adds spacing to the button */
  padding: var(--normal-padding);
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  -webkit-box-shadow: 4px 3px 19px 0px;
  box-shadow: 4px 3px 19px 0px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--third-color);
  -webkit-box-shadow: 4px 3px 19px 0px;
  box-shadow: 4px 3px 19px 0px;
}

.button__default {
  background-color: var(--primary-color-darker);
  color: var(--secondary-color);
  -webkit-box-shadow: 4px 3px 19px 0px;
  box-shadow: 4px 3px 19px 0px;
}

.button__default:hover,
.button__secondary:hover {
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0);
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0);
}

.about {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.about__text {
  text-align: center;
}

.about__list {
  list-style-type: none;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 30%;
  max-width: 40%;
}

label {
  display: block;
}

textarea {
  height: 150px;
  width: 300px;
}

textarea:focus {
  -webkit-box-shadow: 0 0 5px #51cbee;
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

#contact-submit {
  max-width: 35%;
}

#cv {
  color: var(--eigth-color);
  padding: 8px;
}

@-webkit-keyframes color-change {
  from {
    fill: var(--ninth-color);
  }
  to {
    fill: var(--tenth-color);
  }
}
@keyframes color-change {
  from {
    fill: var(--ninth-color);
  }
  to {
    fill: var(--tenth-color);
  }
}
.cls-29 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@media (max-width: 700px) {
  .overlay {
    height: 500px;
    width: 400px;
  }

  .image {
    width: 400px;
    height: 400px;
  }

 
}



@media (max-width: 1000px) {
  .navigation-list {
    margin-right: 20px;;
  }
}


@media (max-width: 1200px) {
  body {
    width: 1000px;
  }
}


@media (max-width: 1200px) {
  .overlay {
    height: 500px;
    width: 550px;
  }

  .image {
    width: 460px;
    height: 400px;
  }
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    

  }

  .grid__item {
    width: 100%;
   
  }

  .image {
    margin-left: 315px;
  }

  .overlay {
    margin-left: 315px;
  }
  
 
  
}





@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }

  body {
    width: 1200px;
  }
  .navigation-list {
    margin-right: 150px;
  }
}

